APP_NAME=AI Quiz Generator Backend
APP_VERSION=1.0.0
DEBUG=True

# Server
HOST=0.0.0.0
PORT=8000
FRONTEND_URL=http://localhost:5173



# Database
POSTGRES_USER=to be filled
POSTGRES_PASSWORD=to be filled
POSTGRES_HOST=to be filled
POSTGRES_PORT=to be filled
POSTGRES_DB=to be filled

GROQ_API_KEY=fill in your GROQ API key here

GOOGLE_DRIVE_KEY=fill in your Google Drive key here


NIXPACKS_NODE_VERSION=22